@using System.Globalization
@using System.Collections
@{
    ViewData["Title"] = "Index";
}

<h1>Internal diagnostics</h1>
<a href="/diag/summary">summary</a><br /><br />


<h3>Culture, time and localization</h3>
<table>
    <tr>
        <td>TimeZone</td>
        <td>@TimeZoneInfo.Local.StandardName</td>
    </tr>
    <tr>
        <td>Current local time</td>
        <td>@DateTime.Now</td>
    </tr>
    <tr>
        <td>Current Culture</td>
        <td>@CultureInfo.CurrentCulture.DisplayName</td>
    </tr>
    <tr>
        <td>Current UI Culture</td>
        <td>@CultureInfo.CurrentUICulture.DisplayName</td>
    </tr>
</table>


<br />
<br />


<h3>Environment variables</h3>
<table>
    @{
        var vars = Environment.GetEnvironmentVariables();

        if (vars != null)
        {
            var sortedDict = new SortedDictionary<string, string>();

            foreach (DictionaryEntry entry in vars)
            {
                string? key = entry.Key?.ToString();
                string? value = entry.Value?.ToString();

                if (key != null && value != null)
                    sortedDict.Add(key, value);
            }

            foreach (var entry in sortedDict)
            {
                <tr>
                    <td>@entry.Key</td>
                    <td>@entry.Value</td>
                </tr>
            }
        }
    }
</table>